div{
  width: 400px;
  background-color: antiquewhite; 
  display: none;
  margin: auto; 
}
p{
    background-color: brown;
    position: absolute;
    left: 130px;
    font-weight: bold;
    padding: 5px;
}